<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container"> 
        <div class="login">
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="cpf_confirma" placeholder="Digite seu cpf" required></input><br>
                <input type="password" name="senha_confirma" placeholder="Digite sua senha" required autocomplete="new-password"></input><br>
                <button class="btn" type="submit" class="btn">Logar</button>
            </form>
            <form action="{{ url_for('home') }}" method="GET">
            <button type="submit" class="btn">Voltar</button>
            </form>
        </div>

        <div class="imagem_login">
            <img src="https://images.metroimg.com/2025/01/30174642/ceu-azul.jpg" alt="">
        </div>
    </div> 
</body>
</html>