<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"> 
        <div>


        </div>

        <div>


        </div>
        <form action="" mehtod="POST">
            <input type="text" name="cpf_confirma" placeholder="Digite seu cpf" required></input><br>
            <input type="password" name="senha_confirma" placeholder="Digite sua senha" required autocomplete="new-password"></input><br>
            <button type="submit">Enviar</button> 
        </form>
    </div> 
</body>
</html>